<div class="mock_phone_title_bar">These Topics can be linked to</div>
<div class="linkable" class="mock_phone">
  <table class="mock_phone_table">
    <%= render :partial => "linkable", :collection => @linkable_topics %>
  </table>
</div>