<div class="mock_phone_title_bar">Topics that link to here</div>
<div class="linkable">
<% if @parental_linkages.empty? %>
  <p><b>This topic is not linked from any other topics</b></p>
<% else %>
  <table class="mock_phone_table">
    <%= render :partial => "parental_linkage", :collection => @parental_linkages %>
  </table>
<% end %>
</div>