<div class="preview_group selected">
  <div id="topic_instructions">
    <p>
      <b>Title:</b>
      This is the title that will appear on the app
    </p>
    <p>
      <b>Summary:</b>
      The summary is used in the mobile apps to provide a very brief description that will appear below the title
    </p>
    <p>
      <b>Body:</b>
      The body is where the bulk of the article needs to go
    </p>
    <p>
      <b>Choose File</b>
      Select an image file to upload to appear next to the title
    </p>
    <p>
      <b>Display on the Home Screen?</b>
      This decides if the topic should appear on the first page presented to the user
    </p>
    <p>
      <b>Display this topic full screen?</b>
      When check this makes the body text display full screen on the mobile app. If this is not checked then a list of available links is presented to the user
    </p>
    <p>
      <b>Should this topic be visible to users?</b>
      This decides if the article needs to b visible for users to see
    </p>
  </div>
</div>