body { 
  background-color: #767676;
  /*background-color: #ededed; */
  color: #333; 
  padding: 0;
  margin: 0;
}
#content { 
  background-color: #ededed; 
/*  background-color: #767676; */
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.main_column {
  width: 900px;
  margin: 0 auto;
}
#top_bar {
  height: 41px;
  background-color: #2f2f2f;
/*  background-image: url("../images/title_bar_gradient_invert.png");*/
/*  background-repeat: repeat-x;*/
}
#horizontal_nav_wrapper {
  padding-top: 10px;
}
#horizontal_nav {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  color: white;
}
#horizontal_nav a {
  display: inline-block;
  line-height: 31px;
  padding: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
#horizontal_nav a:hover {
  background-image: url("../images/title_bar_gradient.png");
  background-repeat: repeat-x;
}

body, p, ol, ul, td {
  font-family: helvetica, arial, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
