#topic {
  width: 800px;
  margin: 0 auto;
  padding: 20px 0 ;
  overflow: hidden;
}
#notice {
  display: block;
  padding: 5px;
  background-color: white;
}
#topic_config {
  background-color: #EDEDED;
  border: 1px solid black;
  padding: 10px;
  margin: 0;
}
#topic_detail div, #topic_detail table {
  background-color: white;
}
#topic_title > h1, #topic_title > img {
  display: inline-block;
}
#topic_columns > div {
  overflow: hidden;
}
.preview_group {
  float: left;
  overflow: hidden;
  padding: 0 20px 40px 20px;
}
.preview_group.selected {
  margin: -2px 0 0 0;
  border: 2px dashed black;
  background-color: #ededed;
  color: #2f2f2f;
}
.preview_group.selected h1 {
  color: #2f2f2f;
}
.preview_group > h1 {
  text-align: center;
}
.preview_group_col {
  width: 370px;
  float: left;
  overflow: hidden;
}
.mock_phone, .wide_mock_phone, .tall_mock_phone {
  width: 320px;
  height: 480px;
  border: 15px solid black;
  border-radius: 15px;
  overflow: auto;
  background-color: #bdb8b0;
}
.tall_mock_phone {
  height: 100%;
}
.tall_mock_phone_content {
  padding: 5px;
}
.mock_phone_title_bar {
  height: 41px;
  border-top: 1px solid #a9a9a9;
  border-bottom: 1px solid #b3b3b3;
  background-image: url("../images/title_bar_gradient.png");
  background-repeat: repeat-x;
  text-align: center;
  color: white;
  line-height: 41px;
  font-family: helvetica;
  font-size: 18px;
}
.mock_phone_content {
  overflow: auto;
}
.mock_phone_web {
  width: 280px;
  padding: 20px;
}
.mock_phone_table, #linkable_options {
  padding: 0;
  margin: 0;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.mock_phone_table {
  border-collapse: collapse;
  border-spacing: 0;
}
.mock_phone_table tr {
  height: 60px;
  width: 100%;
  background-image: url("../images/row_gradient.png");
  background-repeat: repeat-x;
}
.mock_phone_table a {
  text-decoration: none;
  font-family: helvetica;
  font-size: 18px;
}
.row_icon {
  overflow: hidden;
  width: 55px;
  height: 55px;
}
.row_icon img {
  vertical-align: middle;
  text-align: center;
  width: 50px;
  height: 50px;
}
.row_title, .row_title a {
  color: black;
  padding: 0 5px;
  max-width:200px;
}
.row_root {
  color: black;
  padding: 0 5px;
  max-width:100px;
}
.row_remove, .row_remove a, .row_link, .row_link a {
  max-width: 65px;
  font-size: 14px;
}
.mock_phone_table .center {
  text-align: center;
}
.mock_phone_table tr a:hover {
  text-decoration: underline;
}
.mock_phone_table tr a.remove_link {
  color: red;
  font-size: 14px;
}
.mock_phone_table tr a.add_link {
  color: green;
  font-size: 14px;
}
.center {
  text-align: center;
}
.linkable {
  overflow: auto;
  border: 1px solid black;
  height: 175px;
}
#topic_index_table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid black;
}
#topic_index_table th {
  background-image: url("../images/title_bar_gradient_invert.png");
  background-repeat: repeat-x;
  height: 41px;
  color: white;
  text-align: center;
}
#topic_index_table td {
  padding: 5px;
  margin: 0;  
  max-height: 40px;
  overflow: hidden;
  text-align: center;
}
#topic_index_table td[2] {
/*  max-width: 40px;*/
  min-width: 1000px;
}
a.button_link {
  border-radius: 15px;
  text-decoration: none;
  color: white;
  display: inline-block;
  background-image: url("../images/title_bar_gradient_invert.png");
  background-repeat: repeat-x;
  line-height: 41px;
  text-align: center;
  margin: 10px 0;
  width: 350px;
}
a.button_link:hover {
  background-image: url("../images/title_bar_gradient.png");
  text-decoration: underline;
}
.left_float {
  display: inline-block;
  float: left;
}
.right_float {
  display: inline-block;
  float: right;
}
#linkable_topics {
  width: 320px;
  border: 1px solid black;
  clear: both;
  margin: 20px 0;
}
#topic_instructions {
  float: left;
  width: 320px;
}
#topic_nav {
  margin: 5px 0 0 0;
}
#topic_nav ul {
  display: inline-block;
  width: 100%;
  list-style-type: none;
  padding: 0px 10px 0px 0px;
}
#topic_nav li {
  display: inline;
}
li.detail_tab, li.links_tab {
border-bottom: 1px solid #fff;
background-color: #fff;
}
#topic_nav li.detail_tab.selected a, #topic_nav li.links_tab.selected a {
  background-color: #EDEDED;
  color: black;
  position: relative;
  top: 1px;
  padding-top: 18px;
}
#topic_nav li a {
  padding: 15px;
  border: 1px solid #2f2f2f;
  background-color: white;
  color: black;
  margin-right: 0px;
  text-decoration: none;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
 
#topic_nav a:hover {
background: #fff;
}
#topic_show_body {
  overflow: auto;
  max-height: 150px;
}
#topic_show_summary {
  overflow: auto;
  max-height: 100px;
}