#topic {
  width: 1090px;
  margin: 0 auto;
  padding: 10px 0 ;
  overflow: hidden;
}
#topic_title > h1, #topic_title > img {
  display: inline-block;
}
#topic_columns > div {
  display: inline-block;
  float: left;
  overflow: hidden;
  margin: 0;
}
.preview_group {
  padding: 0 20px 40px 20px;
}
.preview_group h1 {
  color: #fff;
}
.preview_group.selected {
  margin: -2px 0 0 0;
  border: 2px dashed black;
  background-color: #ededed;
  color: #2f2f2f;
}
.preview_group.selected h1 {
  color: #2f2f2f;
}
.preview_group > h1 {
  text-align: center;
}
.preview_group_col {
  width: 340px;
  float: left;
  overflow: hidden;
}
.mock_phone, .wide_mock_phone, .tall_mock_phone {
  width: 320px;
  height: 480px;
  border: 1px solid black;
  overflow: auto;
  background-color: #bdb8b0;
}
.wide_mock_phone {
  width: 1100px;
}
.tall_mock_phone {
  height: 100%;
}
.tall_mock_phone_content {
  padding: 5px;
}
.mock_phone_title_bar {
  height: 41px;
  border-top: 1px solid #a9a9a9;
  border-bottom: 1px solid #b3b3b3;
  background-image: url("../images/title_bar_gradient.png");
  background-repeat: repeat-x;
  text-align: center;
  color: white;
  line-height: 41px;
  font-family: helvetica;
  font-size: 18px;
}
.mock_phone_content {
  overflow: auto;
}
.mock_phone_web {
  width: 280px;
  padding: 20px;
}
.mock_phone_table, #linkable_options {
  padding: 0;
  margin: 0;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.mock_phone_table tr, #linkable_options tr {
  padding: 0;
  margin: 0;
  height: 60px;
  width: 100%;
  background-image: url("../images/row_gradient.png");
  background-repeat: repeat-x;
}
.mock_phone_table .center {
  text-align: center;
}
.mock_phone_table tr a {
  color: black;
  text-decoration: none;
  line-height: 60px;
  font-family: helvetica;
  font-size: 18px;
}
.mock_phone_table tr a:hover {
  text-decoration: underline;
}
.mock_phone_table tr a.remove_link {
  color: red;
  font-size: 14px;
}
.center {
  text-align: center;
}
#linkable {
  height: 300px;
}
#topic_index_table > tbody > tr > td {
  padding: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0;
  border-collapse: collapse;
}
a.button_link {
  text-decoration: none;
  color: white;
  display: inline-block;
  background-image: url("../images/title_bar_gradient_invert.png");
  background-repeat: repeat-x;
  line-height: 41px;
  padding: 0 5px;
}
a.button_link:hover {
  background-image: url("../images/title_bar_gradient.png");
  text-decoration: underline;
}
.left_float {
  display: inline-block;
  float: left;
}
.right_float {
  display: inline-block;
  float: right;
}
#linkable_topics {
  width: 320px;
  border: 1px solid black;
  clear: both;
  margin: 20px 0;
}
#topic_instructions {
  width: 600px;
}